@mixin transform_Me($prop1, $prop2) {
  width: $prop1;
  height: $prop2;
  background-color: yellow;
  -ms-transform: rotate(20deg) scale(1.5);
  -webkit-transform: rotate(20deg) scale(1.5);
  transform: rotate(20deg) scale(1.5);
}

.transform {
  @include transform_Me(400px, 500px);
  font-size: 3em;
}

.transform-2 {
  @include transform_Me(200px, 300px);
}
